{% extends 'layouts/master.html' %}
{% block title%}
    Employee | List
{% endblock %}

{% block content %}
<div class = "container">
    <div class = "row">
        <div class = "col-md-4"></div>
        <div class = "col-md-4">
            <!-- <form action = "" method = "get"> low security -->
            <form action = "{% url 'emp-add' %}" method = "post">
                {{ form.as_p }} 
                {% csrf_token %}
                <!-- key from views.py -->
                 <input type="submit" class="btn btn-primary" value="CREATE">
            </form>
        </div>
        <div class = "col-md-4"></div>
    </div>
</div>
{% endblock %}